@red: #ff0f18;
@redFooter: #f58286;

.margenes(@top,@bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color:@red;
  color: white;
  .margenes (50px,5px);
  margin-top: 50px;
  margin-bottom: 5px;
}

.btn-mas {
  background-color: #a01414;
  width: 100%;
  border: none;
}

footer {
  .margenes (5px,2px);
  //margin-top: 5px;
  //margin-bottom: 2px;
  background-color: @redFooter;
  height: auto;
}

.card-body {
  padding: 0px 7px;
}

.card {
  .margenes (8px,0px);
  // margin-top: 8px;
  //margin-bottom: 0;
}

.card-hotel {
  flex: 1 325px;
}

.card-tab {
  background-color: red;
  color: white;
}

.footer-class-icon {
  margin-right: 5px;
}

.tab-content {
  padding-top: 5px;
}

.img-fluid {
  .margenes (10px,0px);
  //margin-top: 10px;
  //margin-bottom: 0px;
}

.btnContact {
  .margenes (10px,10px);
  //margin-top: 10px;
  //margin-bottom: 10px;
}

.btnInfo {
  .margenes (10px,0px);
  //margin-top: 10px;
  //margin-bottom: 0px;
}
