$red: #f50000 ;
$redFooter: #f58286;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $red;
  color: white;
  @include margenes(50px, 5px);
}

.btn-mas {
  background-color: rgb(160, 20, 20);
  width: 100%;
  border: none;
}

footer {
  @include margenes(5px, 2px);
  background-color: $redFooter;
  height: auto;
}
.card-body {
  padding: 0px 7px;
}

.card {
  //margin: 8px;
  @include margenes(8px, 0);
}

.card-hotel {
  flex: 1 325px;
}

.card-tab {
  background-color: red;
  color: white;
}
.footer-class-icon {
  margin-right: 5px;
}

.tab-content {
  padding-top: 5px;
}

.img-fluid {
  @include margenes(10px, 0px);
  //margin-top: 10px;
}

.btnContact {
  @include margenes(10px, 10px);
  //margin: 10px 10px;
}

.btnInfo {
  @include margenes(10px, 0px);
  //margin-bottom: 10px;
}
