.jumbotron {
  background-color: #f50000;
  color: white;
  margin-top: 50px;
  margin-bottom: 5px; }

.btn-mas {
  background-color: #a01414;
  width: 100%;
  border: none; }

footer {
  margin-top: 5px;
  margin-bottom: 2px;
  background-color: #f58286;
  height: auto; }

.card-body {
  padding: 0px 7px; }

.card {
  margin-top: 8px;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 325px; }

.card-tab {
  background-color: red;
  color: white; }

.footer-class-icon {
  margin-right: 5px; }

.tab-content {
  padding-top: 5px; }

.img-fluid {
  margin-top: 10px;
  margin-bottom: 0px; }

.btnContact {
  margin-top: 10px;
  margin-bottom: 10px; }

.btnInfo {
  margin-top: 10px;
  margin-bottom: 0px; }
